body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #F5F5F5;
	color: #008080;
	font-size: 14px;
	text-align: left;
}
button {
	margin: auto;
	width: 140px;
	height: 40px;
	background-color: #008080;
	color: #fff;
	border: none;
	font-weight: bold;
}

.top {
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	height: 60px;
	color: #fff;
	background-color: #008080;
	font-weight: bold;
}
.bigLogo {
	display: flex;
	flex-direction: row;
	width: 170px;
	height: 60px;
}
.text {
	width: 80px;
	height: 60px;
	text-align: center;
	line-height: 55px;
	font-size: 16px;
}
.imgLogo {
	margin: auto;
	width: 90px;
	height: 60px;
	background: url(../image/mount.png) 0 0 no-repeat;
	background-size: cover;
}
.authBox {
	position: relative;
	min-width: 200px;
	height: 60px;
	font-size: 12px;
}
.regist {
	position: absolute;
	left: 0;
	top: 10px;
	width: 130px;
	height: 40px;
	text-align: center;
	line-height: 35px;
}
.auth {
	position: absolute;
	right: 0;
	top: 10px;
	width: 70px;
	height: 40px;
	text-align: center;
	line-height: 35px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wrapperMini {
	width: 1000px;
	min-height: 800px;
}
.topHide {
	width: 1000px;
	height: 80px;
}
.middleBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 1000px;
	min-height: 800px;
	background-color: #fff;
}
.prevBigBox {
	width: 1000px;
}
.preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 830px;
	height: 360px;
	border: 1px solid #008080;
}
.leftPrev {
	/*position: relative;*/
	width: 150px;
	height: 280px;
	text-align: left;
	border: 1px solid #008080;
}
.nameAuthor {
	width: 150px;
	height: 70px;
	line-height: 10px;
	border: 1px solid #008080;
}
.name {
	padding: 10px;
	width: 130px;
	height: 15px;
	border: 1px solid #008080;
}
.photoAuthorBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 150px;
	height: 120px;
	border: 3px solid #008080;
}
.photoAuthor {
	margin: auto;
	width: 70px;
	height: 100px;
	background: url(../image/girl.jpg) 0 0 no-repeat;
	background-size: cover;
	/*border: 5px solid #008080;*/
}
.date {
	width: 150px;
	height: 70px;
	border: 1px solid #008080;
}
.topDate {
	padding: 10px;
	height: 15px;
	text-align: left;
	border: 1px solid #008080;
}
.leftLittleSpace {
	width: 150px;
	height: 5px;
	background-color: #F5F5F5;
}
.midPrev {
	width: 5px;
	height: 360px;
	background-color: #F5F5F5;
	/*border: 1px solid #008080;*/
}
.rightPrev {
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 500px;
	height: 350px;
	/*border: 1px solid #008080;*/
}
.header {
	margin-top: 10px;
	max-width: 500px;
	min-width: 350px;
	height: 50px;
	color: #008080;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	border: 1px solid #008080;
}
.picture {
	width: 385px;
	height: 250px;
	background: url(../image/hallstatt.jpg) 0 0 no-repeat;
	background-size: cover;
	border: 5px solid #008080;
}
.prevBottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 1000px;
	height: 40px;
	/*border: 1px solid #008080;*/
}
.space {
	width: 1005px;
	height: 30px;
	background-color: #F5F5F5;
}
