body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #F5F5F5;
}

span {
	font-size: 22px;
}


.top {
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	height: 60px;
	color: #fff;
	font-weight: bold;
	background-color: #008080;
}
.bigLogo {
	display: flex;
	flex-direction: row;
	width: 170px;
	height: 60px;
}
.text {
	width: 80px;
	height: 60px;
	text-align: center;
	line-height: 55px;
	font-size: 16px;
}
.imgLogo {
	margin: auto;
	width: 90px;
	height: 60px;
	background: url(../image/mount.png) 0 0 no-repeat;
	background-size: cover;
}
.authBox {
	position: relative;
	min-width: 200px;
	height: 60px;
	font-size: 12px;
}
.regist {
	position: absolute;
	left: 0;
	top: 10px;
	width: 130px;
	height: 40px;
	text-align: center;
	line-height: 35px;
}
.auth {
	position: absolute;
	right: 0;
	top: 10px;
	width: 70px;
	height: 40px;
	text-align: center;
	line-height: 35px;

}

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wrapperMini {
	width: 1000px;
	min-height: 800px;
}
.topHide {
	width: 1000px;
	height: 75px;
}
.middleBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 1000px;
	min-height: 800px;
	background-color: #fff;
}
.preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 1000px;
	height: 400px;
	border: 3px solid #008080;
}
.header {
	max-width: 1000px;
	min-width: 600px;
	height: 60px;
	color: #008080;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 55px;
	border: 1px solid #008080;
}
.picture {
	width: 500px;
	height: 300px;
	background: url(../image/hallstatt.jpg) 0 0 no-repeat;
	background-size: cover;
	border: 5px solid #008080;
}
